.text_color {
  color: #12b24e !important;
}

.user_icon {
  color: #12b24e !important;
  font-size: 28px;
  margin-right: 25px;
}

.view_caoch_btn {
  border-radius: 20px;
  border: 1px solid #7979ff;
  color: #7979ff !important;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
}

.child_card {
  background-color: #fff;
}