@import "/src/styles/functions";
@import "/src/styles/colors";

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.data_container {
    margin: 0 pxToRem(20);
    line-height: 1;
    vertical-align: middle;
}

.title_text{
    color: $headingColorSecondary!important;
    margin-bottom: pxToRem(5)!important;
}
.feedback_arrow{
    font-size: 3rem;
    align-items: end;
    color: $headingColorSecondary;
    margin-left: auto;
}