@import "/src/styles/functions";

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.data-container {
    margin: 0 pxToRem(20);
    line-height: 1;
    vertical-align: middle;
}

.circular-card {
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3374D2;
    color: white;
    padding: pxToRem(10);
    width: pxToRem(50);
    height: pxToRem(50);
}