.save {
  background: #00ad40;
  padding: 4px 16px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.cancel {
  background: #eae9ef;
  padding: 4px 16px;
  border-radius: 20px;
  color: #000;
  margin-left: 15px;
  cursor: pointer;
}

.card {
  margin-top: -10px;
  border-top: none;
}