@import "/src/styles/functions";

.layout_collapse_btn_container {
  position: absolute;
  bottom: pxToRem(30);
  left: pxToRem(20);
}

.update_p {
  border: 1px solid #28b15a !important;
  color: #28b15a !important;
  padding: 10px 18px;
  font-weight: 700 !important;
  border-radius: 20px;
  cursor: pointer;
}

.org_name {
  border: 1px solid #00000053 !important;
  color: #000 !important;
  padding: 10px 18px;
  font-weight: 500 !important;
  border-radius: 4px;
  cursor: pointer;
}

.contaier_lt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider_hrz{
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 0.5px;
  background-color: #00000053;
  cursor: pointer;
}

.footer_container{
  display: flex;
  justify-content: center;
}