.text_color {
  color: #12b24e !important;
  display: flex;
  align-items: center;
}

.user_icon {
  color: #12b24e !important;
  font-size: 28px;
  margin-right: 25px;
}

.view_caoch_btn {
  border-radius: 20px;
  font-weight: 800;
  padding: 5px 10px;
  font-size: 25px;
  cursor: pointer;
}

.child_card {
  background-color: #fff;
}