.bg_sub_heading {
  background-color: #f9fbfd;
  padding: 10px;
}

.card_container {
  padding: 10px;
}

.email {
  color: #8383f5;
}

.btn_change_email {
  cursor: pointer;
  padding: 2px 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  color: #000000;
}