.gplaybg {
  background-color: #2e1e5b;
  padding: 10px;
  border-radius: 8px;
}

.icon_banner {
  width: 179px;
  height: auto;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  color: #fff !important;
}